.Lateral-menu {
  position: fixed;
  text-align: center;
  width: 100px;
  height: 100%;
  background: #24497C;
}

.Menu-logo {
  margin: 20px 0;
  height: 75px;
}

.Menu-perfil {
  display: block;
  text-align: center;
  width: 100%;
}

.Menu-button {
  display: block;
  padding: 4px 0;
  margin: 15px 5px;
  font-size: 0.8em;
  background: rgb(23, 48, 83);
}

.Menu-logout {
  display: block;
  padding: 4px 0;
  margin: 15px 5px;
  font-size: 0.8em;
  background: rgb(23, 48, 83);
}